<!DOCTYPE html>
<html lang="pt-br">
<head>  
    {% block head %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Arx Connect{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'layout/img/favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'layout/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_manager.css' %}">

        
    {% endblock %}
</head>

<body>
    {% load static %}
    <!-- Header -->
    {% include "partials/header.html" %}

    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}

    <!-- Main -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
            crossorigin="anonymous"></script>
    <script src="{% static 'layout/js/base.js' %}" defer></script>

</body>
</html>
